<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tiny App</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h1>TinyApp</h1>
    <hr>
    <% if (username) { %>
    <a href="/urls">URLS</a>&nbsp&nbsp|&nbsp&nbsp<a href="/urls/new/">Create New URL</a>
      <form method="POST" action='/logout'>
        <%= `Logged in as: ${username.email}` %>
        <br>
        <button style="margin-top: 20px;" class="btn btn-primary btn-sm" type="submit">Logout</button>
        <hr>
      </form>
    <% } else { %>
     <a href="/login">Login</a>&nbsp&nbsp|&nbsp&nbsp<a href="/register">Register</a>
     <hr>
    </form>
    <% } %>