<%- include partials/_header.ejs %>

<h1>TinyApp</h1>
<a href="/urls/new">Create New TinyURL</a>

<h3>shortURL: <b><%=shortURL%></b></h3>
<hr>
    <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
      <div class="form-group mb-2">
      <label for="URL"> URL:  </label>
      <input class="form-control" size="35" type="url" name="newURL" value="<%=longURL%>" style="width: 300px; margin: 1em">
      </div>
      <button class="btn btn-primary btn-sm" type='submit'>Update</button>
    </form>
    <hr>

</body>
</html>