<%- include ./partials/_header.ejs %>

  <h3>Create Account</h3>
  <form  action= <%=`/register`%> method="POST">
  <label for="Email">Email:</label><input class="form-control" id="Email" type="email" name="email" placeholder="your email" style="width: 400px; margin-bottom: 20px">

  <label for="password">Password: </label>
  <input class="form-control" type="password" id="password" name="password" placeholder="create a password" style="width: 400px; margin-bottom: 20px">

  <button type="submit" class="btn btn-primary">Register</button>
  </form>
</body>
</html>
