<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<h1>TinyApp</h1>
<hr>
<a href="/login">Login&nbsp&nbsp|&nbsp</a>
<a href="/register">Register</a>

<body style="font-size:20px; padding:50px;">
<h3 style="margin-top: 15px;" >Login to TinyApp</h3>


<form action="/login" method="POST">
        <div>
          <label>Email: </label>
          <input class="form-control" size="35" type="email" name="email" placeholder="Your email address">
        </div>
<br>
        <div>
          <label>Password: </label>
          <input class="form-control" size="35" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <button class="btn btn-primary btn-sm" >Login</button>
</form>
</body>
</html>