<%- include ./partials/_header.ejs %>

<h4>shortURL: <b><%=shortURL%></b></h4>

    <form  action=<%='/edit/'+ shortURL %> method="POST">
      <label> URL:  </label>
      <input size="35" type="url" name="newURL" value="<%=longURL%>">

      <button class="btn btn-primary btn-sm" type='submit'>Update</button>
    </form>


</body>
</html>


