<%- include ./partials/_header.ejs %>

<h4>shortURL: <b><%= shortURL %></b></p>


<form>
  <input input class="form-control" type="text" name="longURL" value="<%= `${longURL}` %>" style="width: 300px;">
  <button type="submit" class="btn btn-primary btn-sm">Update</button>
</form>

</body>
</html>


