<%- include ./partials/_header.ejs %>

<body style="font-size:20px; padding:50px;">

    <!-- Add EJS code here -->
  <h3>Login</h3>
  <form  action= <%=`/login`%> method="POST">
  <label for="Email">Email:</label><input class="form-control" type="email" name="email" placeholder="your email" style="width: 400px; margin-bottom: 20px">

  <label for="password">Password: </label>
  <input class="form-control" type="password" name="password" placeholder="your password" style="width: 400px; margin-bottom: 20px">

  <button type="submit" class="btn btn-primary">Login</button>
  </form>
</body>
</html>