<%- include ./partials/_header.ejs %>

<h4>My URLs</h4>
<table>
  <% for (let url in urls) { %>
  <tr>
    <td><b><%= `${url}:` %></b> <%= `${urls[url]}` %></td>
  </tr>
<% } %>

</table>



</body>
</html>